<!DOCTYPE html>
<html>
<head>
	<title>FAQ Bot Builder</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue darken-2">
      {{#if user}}
		  <a href="#" data-activates="slide-out" class="button-collapse hide-on-large"><i class="material-icons">menu</i></a>
		  <a href="#" class="center brand-logo">FAQ Bot Builder</a>
		  {{else}}
      <ul id="nav-mobile" class="right">
        <li><a href="/login">Login</a></li>
      </ul>
      {{/if}}
    </div>
  </nav>
  </div>
</head>
<body class="grey lighten-2">
<div class="row">
{{#if user}}
<div class="col s3" style="margin-right: 50px">
  <ul id="slide-out" class="side-nav fixed">
    <li><div class="user-view">
      <div class="background">
        <img width="100%" src="https://banknxt.com/wp-content/uploads/2016/11/Bank-of-America%E2%80%99s-new-chatbot-is-a-higher-form-of-intelligence-810x405.png">
      </div>
      <a href="/profile/{{user.id}}"><img class="circle" src="{{user._json.picture.data.url}}"></a>
      <a href="/profile/{{user.id}}"><span class="white-text name">{{curruser.user_name}}</span></a>
    </div></li>
    <li><a href="/dashboard/{{user.id}}"><i class="material-icons">home</i>Dashboard</a></li>
    <li><a href="/settings/{{user.id}}"><i class="material-icons">settings</i>Settings</a></li>
    <li><a href="/dashboard/{{user.id}}/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
  </ul>
</div>
<div class="col l9 offset-l3 s12">
	{{{body}}}
</div>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{{else}}
<div class="container">
	{{{body}}}
</div>
{{/if}}
</div>
<script type="text/javascript">
	$(document).ready(function(){
  	$('.modal').modal();
  	$(".button-collapse").sideNav();
  });
</script>
</body>
<footer class="blue darken-1 page-footer" style="position:fixed;bottom:0;left:0;width:100%;">
  {{#if user}}{{else}}
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h5 class="white-text">FAQ Bot Builder</h5>
        <p class="grey-text text-lighten-4">Build a Messenger Chatbot that answers the FAQs for your facebook page with this application. Subscribe your page and let us make an FAQ Chatbot for you, just send your website's FAQ URL.</p>
      </div>
      <div class="col s4 offset-s2">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://qnamaker.ai/">QnA Maker</a></li>
          <li><a class="grey-text text-lighten-3" href="https://developers.facebook.com/">Facebook Developer</a></li>
        </ul>
      </div>
    </div>
  </div>
  {{/if}}
  <div class="footer-copyright">
    <div class="container">
    <a class="grey-text text-lighten-4 right" href="#!">LbL</a>
    </div>
  </div>
</footer>
</html>
