
{{#if user}}
<a href="/dashboard/{{user.id}}/logout">Logout</a>
<br><br>
<div class="row">
	{{#each pages.data}}
  <div class="col s6 m6 l4">
    <div class="card horizontal">
      <div class="card-content row">
        <img class="circle col" src="{{this.picture.data.url}}">
      	<form class="col" method="POST" action="/{{../user.id}}/subscribed">
        	<div class="card-content">
        		<h4>{{this.name}}</h4>
        		<input type="hidden" name="ids" value="{{this.id}}">
        		<input type="hidden" name="ats" value="{{access_token}}">
        		<input type="hidden" name="subs" value="{{is_webhooks_subscribed}}">
        	</div>
        	<div class="card-action">
						{{#if this.is_webhooks_subscribed}}
						<button class="btn red">UnSubscribe</button><br>
						{{else}}
						<button class="btn green">Subscribe</button><br>
						{{/if}}
        	</div>
        </form>
      </div>
    </div>
  </div>
							  	
	{{/each}}
</div>
<form class="col" method="POST" action="/{{../user.id}}/page">
								    	<input type="text" name="url" placeholder="Your Q&A URL" required>
								    	<input type="hidden" name="idss" value="{{this.id}}">
								    	<input type="hidden" name="name" value="{{this.name}}">
								      <button class="waves-effect waves-green btn-flat">Add</button>
							    </form>
							    <div class="col">
							    	{{#each ../curruser.pages}}
							    		{{#equal ../id page_id}}
							    			{{#each this.qnamaker.urls}}
							    				<input type="text" name="{{id}}" value="{{url}}">{{id}}
							    			{{/each}}
							    		{{/equal}}
							    	{{/each}}
							    </div>
	<a href="/profile/{{user.id}}">See Profile</a>
{{else}}
	<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel z-depth-0">
    <div class="row valign-wrapper center-align">
		<h1 class="col s12">FAQ Bot Builder</h1>
    </div>
    <div class="row valign-wrapper">
		<a class="col s6 offset-s3 btn btn-primary blue" href="/login/facebook">Login to Facebook</a>
    </div>
</div>
</div>
{{/if}}
