
{{#if user}}
<br><br>
<div class="row">
	{{#each pages.data}}
  <div class="col">
    <div class="card page" style="width: 300px; height: 330px">
     	<form method="POST" action="/{{../user.id}}/subscribed">
        <div class="card-image" style="height: 168px">
        	{{#if cover}}
          	<img src="{{cover.source}}" height="100%">
          {{else}}
          	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXxCxQ_6HkwC7ylH3Qc6zLFiN4d1DZ7d89YaMRJtFq1xawL3gu" height="100%">
          {{/if}}
          <span class="card-title row">
	          <img class="circle col s4" src="{{this.picture.data.url}}">
	          <h5 class="col s8">{{this.name}}</h5>
          </span>
					{{#if this.is_webhooks_subscribed}}
          <button class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></button>
          {{else}}
          <button class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></button>
          {{/if}}
        </div>
		    <div class="card-content row">
		      <div class="col s12">
		      	<div style="height:30px">
		      	{{#if about}}
		      	<p style="text-overflow: ellipsis; overflow: hidden; max-height: 3.6em; line-height: 1.8em">{{about}}</p>
		      	{{else}}
		      	<br><br>
		      	{{/if}}
		      	</div>
	      		<input type="hidden" name="ids" value="{{this.id}}">
	      		<input type="hidden" name="ats" value="{{access_token}}">
	      		<input type="hidden" name="subs" value="{{is_webhooks_subscribed}}">
      		</div>
		    </div>
      	<div class="row card-action">
					{{#if this.is_webhooks_subscribed}}
					<a class="col s12" href="/dashboard/{{../user.id}}/page/{{this.id}}">View Details</a>
					<!--a class="btn modal-trigger col s12" href="#{{this.id}}">View Details</a><br-->
					{{else}}
					<button class="btn blue col s12">Connect to Facebook</button><br>
					{{/if}}
      	</div>
      </form>
    </div>
  </div>
	{{/each}}
</div>
{{else}}
	<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel z-depth-0">
    <div class="row valign-wrapper center-align">
		<h1 class="col s12">FAQ Bot Builder</h1>
    </div>
    <div class="row valign-wrapper">
		<a class="col s6 offset-s3 btn btn-primary blue" href="/login/facebook">Login to Facebook</a>
    </div>
</div>
</div>
{{/if}}
