
{{#if user}}
<br><br>
	{{#each pages.data}}
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
        	<form class="col" method="POST" action="/subscribed">
        		<input type="hidden" name="ids" value="{{this.id}}">
        		<input type="hidden" name="ats" value="{{access_token}}">
        		<input type="hidden" name="subs" value="{{is_webhooks_subscribed}}">
							<br><p>{{this.name}}
							{{#if this.is_webhooks_subscribed}}
							<button class="btn red">UnSubscribe</button><br>
							{{else}}
							<button class="btn green">Subscribe</button><br>
							{{/if}}
							</p>
        	</form>
		  	<form class="col" method="POST" action="/page">
			    	<input type="text" name="url" placeholder="Your Q&A URL">
			    	<input type="hidden" name="idss" value="{{this.id}}">
			    	<input type="hidden" name="name" value="{{this.name}}">
			      <button class="waves-effect waves-green btn-flat">Add</button>
		    </form>
		    <div class="col">
		    	{{#each ../curruser}}
		    </div>
		</div>
	  </div>
    </div>
	{{/each}}
	<a href="/profile">See Profile</a>
{{else}}
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
				<a class="col s6 offset-s3 btn btn-primary blue" href="/login/facebook">Login to Facebook</a>
      </div>
    </div>
  </div>
{{/if}}
