<div class="row">
	<div class="card">
		<div class="card-content">
	    <img class="circle col s4" width="100%" src="{{this.picture.data.url}}">
  		<h5 class="col s8">{{this.name}}</h5>
  		<input type="hidden" name="ids" value="{{this.id}}">
  		<input type="hidden" name="ats" value="{{access_token}}">
  		<input type="hidden" name="subs" value="{{is_webhooks_subscribed}}">
  		<a href=""></a>
			<form class="col" method="POST" action="/{{../user.id}}/page">
		  	<input type="text" name="url" placeholder="Your Q&A URL" required>
		  	<input type="hidden" name="idss" value="{{this.id}}">
		  	<input type="hidden" name="name" value="{{this.name}}">
		    <button class="waves-effect waves-green btn-flat">Add</button>
			</form>
			<div class="col">
				{{#each ../curruser.pages}}
					{{#equal ../id page_id}}
						{{#each this.qnamaker.urls}}
							<input type="text" name="{{id}}" value="{{url}}">{{id}}
						{{/each}}
					{{/equal}}
				{{/each}}
			</div>
			<div>
				
			</div>
		</div>
	</div>
</div>