<div class="container">
{{#each pages.data}}
	{{#equal id ../pageid}}
	<div class="row">
  <div class="card s10 offset-s1" style="padding: 20px; opacity: 50%;">
    <div class="row">
      <img class="circle col s2" width="100px" src="{{this.picture.data.url}}">
      <div class="col s10">
     		<form method="POST" action="/{{../user.id}}/subscribed">
      		<input type="hidden" name="ids" value="{{this.id}}">
      		<input type="hidden" name="ats" value="{{access_token}}">
      		<input type="hidden" name="subs" value="{{is_webhooks_subscribed}}">
	  			<h4>{{this.name}}</h4>
	  			{{#if this.is_webhooks_subscribed}}
					<button class="btn red col">Disconnect to Facebook</button><br>
					{{else}}
					<button class="btn blue col">Connect to Facebook</button><br>
					{{/if}}
	  		</form><br><br>
				<form class="row" method="POST" action="/dashboard/{{../user.id}}/page/{{id}}/url">
					{{#each ../curruser.pages}}
						{{#equal ../id page_id}}
							{{#if qnamaker.urls}}
								{{#each this.qnamaker.urls}}
									<div class="col s8">
     								<label>QnA Url:</label>
						  			<input type="text" name="url" value="{{url}}" placeholder="Your Q&A URL" required>
						  			<input type="hidden" name="lasturl" value="{{url}}">
						  		</div>
						    	<button class="col waves-effect waves-green btn-flat btn-large">Change</button>
								{{/each}}
				    	{{else}}
				    	<div class="col s8">
     						<label>QnA Url:</label>
						  	<input type="text" name="url" placeholder="Your Q&A URL" required>
				  			<input type="hidden" name="lasturl" value="none">
						  </div> 
						  <button class="col waves-effect waves-green btn-flat btn-large">Add</button>
						  {{/if}}
						{{/equal}}
					{{/each}}
	  			<input type="hidden" name="subs" value="{{is_webhooks_subscribed}}">
			  	<input type="hidden" name="idss" value="{{id}}">
			  	<input type="hidden" name="name" value="{{name}}">
				</form>
				<div>
				</div>
				<form class="row" method="POST" action="/dashboard/{{../user.id}}/page/{{id}}/message">
					<div class="col s8">
	     			<label>Sample Question:</label>
				  	<input type="text" name="message" placeholder="Sample Question" required>
				  	<input type="hidden" name="idss" value="{{id}}">
				  	<input type="hidden" name="name" value="{{name}}">
			  	</div>
			    <button class="col waves-effect waves-green btn-flat btn-large">Send</button>
				</form>

				<div class="row">
					{{#if ../question}}
						<div class="col s12">Question: {{../question}}</div><br>
					{{/if}}
					{{#if ../answer}}
						<div class="col s12">Answer: {{../answer}}</div>
					{{/if}}
				</div>
			</div>
    </div>
  </div>
  </div>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution="setup_tool"
  page_id="{{id}}">
</div>
  {{/equal}}
{{/each}}
<//div>